/*reset*/
*{-webkit-tap-highlight-color:rgba(0, 0, 0, 0)}
html{-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;font-size: 625%;line-height: 1.15;}
@media (min-width: 360px) and (max-width: 400px) {
    html {
        font-size: 700%;
    }
}
@media (min-width: 401px) {
    html {
        font-size: 750%;
    }
}
body {
    font-family: 'Arial', 'Microsoft Yahei', 'Droid Sans Fallback', 'STHeiti-Light';
    font-size: .12rem;
    color: #222;
    line-height: 1.15;
    margin: 0;
    background: #fff;
}

main {
    display: block;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
pre {
    font-family: monospace, monospace;
    font-size: 1em;
}
a {
    background-color: transparent;
}
abbr[title] {
    border-bottom: none;
    /* 1 */
    text-decoration: underline;
    /* 2 */
    text-decoration: underline dotted;
    /* 2 */
}
b,strong {
    font-weight: bolder;
}
code,
kbd,
samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}
small {
    font-size: 80%;
}
sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}
img {
    border-style: none;
}
button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
button,
input {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}
fieldset {
    padding: 0.35em 0.75em 0.625em;
}
legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}
progress {
    vertical-align: baseline;
}
textarea {
    overflow: auto;
}
a{
    text-decoration: none;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}
details {
    display: block;
}
summary {
    display: list-item;
}
template {
    display: none;
}
[hidden] {
    display: none;
}
/* 寮圭獥 */

.pop-modal{
    position: fixed;
    background: rgba(0,0,0,.3);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: none;
}
.pop-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pop-box {
    width: 80%;
    background: #fff;
    border-radius: .05rem;
    /* padding: .1rem .15rem; */
    box-sizing: border-box;
    overflow: hidden;
}
.pop-title {
    padding: .15rem;
}
.pop-content {
    width: 100%;
    padding: 0 .15rem;
    box-sizing: border-box;
}
.pop-content textarea{
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #d6d6d6;
    padding: .05rem;
    height: 1rem;
}
.pop-footer {
    width: 100%;
  
}
/* .pop-footer .btn-box{
    display: flex;
    justify-content: space-around;
    margin: .2rem 0 .1rem;
}

.pop-footer .btn-box .btn{
    width: .8rem;
    height: .3rem;
    line-height: .3rem;
    background: rgb(187, 187, 187);
    color: #fff;
    text-align: center;
    border-radius: .03rem;
}
.pop-footer .btn-box .btn-primary{
    background: #1A9BD2;
} */
.pop-footer .btn-box {
    display: flex;
    justify-content: space-between;
    margin: .2rem 0 0;
    border-top: 1px solid #d6d6d6;
    font-size: .16rem;
    color: #1A9BD2;
}

.pop-footer .btn-box .btn{
    flex: 1;
    text-align: center;
    height: .4rem;
    line-height: .4rem;
    background: #eeeeee;
    color: #565656;
}
.pop-footer .btn-box .btn.btn-primary{
    background: #1A9BD2;
    color: #fff;
}
.pop-content .tip{
   text-align: center; 
   font-size: .18rem;
}
.confirm-modal{
    position: fixed;
    background: rgba(0,0,0,.3);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: none;
}
.confirm-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.confirm-box {
    width: 80%;
    background: #fff;
    border-radius: .05rem;
    box-sizing: border-box;
    overflow: hidden;
}
.confirm-title {
    margin: .05rem 0 .15rem;
}
.confirm-content {
    width: 100%;
}

.confirm-footer {
    width: 100%;
  
}
.confirm-content .tip{
   text-align: center; 
   font-size: .16rem;
   padding: .15rem;
}
.confirm-footer .btn-box {
    display: flex;
    justify-content: space-between;
    margin: .2rem 0 0;
    border-top: 1px solid #d6d6d6;
    font-size: .16rem;
    color: #1A9BD2;
}

.confirm-footer .btn-box .btn{
    flex: 1;
    text-align: center;
    height: .4rem;
    line-height: .4rem;
    background: #eeeeee;
    color: #565656;
}
.confirm-footer .btn-box .btn.btn-primary{
    background: #1A9BD2;
    color: #fff;
}
.confirm-footer .btn-box  .btn:last-child{
    border-right: none;
}
.btn-wrap{
    display: flex;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.btn-wrap .btn{
    flex: 1;
    color: #fff;
    text-align: center;
    background: #1b9ed4;
    height: .45rem;
    line-height: .45rem;
    font-size: .16rem;
    border-right: 1px solid #d6d6d6;
}
.btn-wrap .btn:last-child{
    border-right: none;
}
.main{
    margin-bottom: .45rem;
}
.hide{
    display: none;
}
.show{
    display: block;
}
.mb-20{
    margin-bottom: .2rem;
}
.mb-12{
    margin-bottom: .12rem;
}
.mb-50{
    margin-bottom: .5rem;
}
.mb-80{
    margin-bottom: .8rem;
}
.mb-100{
    margin-bottom: 1rem;
}