/* ------------------------------
css for Tidecms 7 Openwin
design by zhangliang & uusalon@gmail.com
date 2009-5-20
---------------------------- */
@import url(form-common.css);

body,h1,h2,h3,h4,h5,h6,p,form,ul,ol,li,input,frameset{margin:0;padding:0;font-family:"宋体";line-height:normal;}
ul,ol{list-style:none;}
img{border:0;}
.clear{clear:both;}
a{color:#000000;text-decoration:none;hide-focus:expression(this.hideFocus=true);}
a:hover{text-decoration:none;color:#096ed5;}

.form_top,.form_bottom{height:18px;background:url(../img/form_top.png) repeat-x;}
.form_top .left,.form_top .right,.form_bottom .left,.form_bottom .right{width:18px;height:18px;float:left;}
.form_top .left{background:url(../img/form_top_left.png) no-repeat;}
.form_top .right{background:url(../img/form_top_right.png) no-repeat;float:right;}
.form_bottom{background:url(../img/form_bot.png) repeat-x;}
.form_bottom .left{background:url(../img/form_bot_left.png) no-repeat;}
.form_bottom .right{background:url(../img/form_bot_right.png) no-repeat;float:right;}
.form_main{border:1px solid #dbdbdb;border-top:none;border-bottom:none;background:#ffffff;font-size:12px;font-family:"宋体"}
.form_main_m{margin:0 18px;overflow-y:auto;overflow-x:none;}
.form_main td{padding:6px 4px;font-size:12px;}
.form_button{text-align:center;padding:16px 0 0;}

html{height:100%;overflow:hidden;}
body{height:100%;overflow:hidden;}
.form_top{position:absolute;left:0;top:0;right:0;}
.form_main{position:absolute;left:0;top:18px;bottom:55px;right:0;overflow:auto;}
.form_bottom{position:absolute;left:0;bottom:37px;right:0;overflow:auto;}
.form_button{position:absolute;left:0;bottom:0;right:0;height:24px;}
/*---ie6---*/
html{_padding:70px 10px;}
.form_top{_margin-top:-60px;_position:relative;_top:0;_right:0;_bottom:0;_left:0;}
.form_main{_height:100%;_position:relative;_top:0;_right:0;_bottom:0;_left:0;_padding-bottom:40px;}
.form_bottom{_position:relative;_top:0;_right:0;_bottom:0;_left:0;}
.form_button{_position:relative;_top:0;_right:0;_bottom:0;_left:0;}

/* Add 2009.06.16 by zhangliang */
.edit-main{margin:20px;position:relative;font-size:12px;}
.edit-con{position:absolute;top:30px;width:100%;z-index:1;}
.edit-con .top{height:14px;overflow:hidden;background:url(../img/bg_top.png) repeat-x;}
.edit-con .top .left{float:left;}
.edit-con .top .left{background:url(../img/top_l.png) no-repeat;width:14px;height:14px;}
.edit-con .top .right{float:right;background:url(../img/top_r.png) no-repeat;width:14px;height:14px;}
.edit-con .bot{height:14px;overflow:hidden;background:url(../img/bg_bot.png) repeat-x;}
.edit-con .bot .left{float:left;}
.edit-con .bot .left{background:url(../img/bot_l.png) no-repeat;width:14px;height:14px;}
.edit-con .bot .right{float:right;background:url(../img/bot_r.png) no-repeat;width:14px;height:14px;}
.edit-con .center{padding:0 12px;}
.edit-con .center_main{border:1px solid #dbdbdb;border-top:none;border-bottom:none;background:#ffffff;overflow-y:auto;}
.edit-con .center .title{padding:0 0 15px 0;}
.edit-con .center .title input{border:1px solid #8a8a8a;background:#f9f9f9;padding:4px 2px;font-size:12px;vertical-align:middle;width:460px;}
.edit-con .center .edit{padding:0 0 15px 0;}
.edit-con .center .line{padding:0 0 15px 0;}
.edit-nav{position:relative;z-index:2;height:31px;}
.edit-nav ul{padding:0 0 0 4px;overflow:auto;}
.edit-nav li{float:left;height:31px;margin:0 1px;line-height:31px;overflow:hidden;}
.edit-nav li a{line-height:31px;padding:0 0 0 10px;float:left;background:url(../img/bg_edit_nav.png) left top;color:#4b4b4b;}
.edit-nav li a:hover{text-decoration:none;}
.edit-nav li a span{padding:0 10px 0 0;cursor:pointer;float:left;background:url(../img/bg_edit_nav.png) 100% top;}
.edit-nav li a.cur,.edit-nav li a:hover{background:url(../img/bg_edit_nav_cur.png) left top;color:#096ed5;}
.edit-nav li a.cur span,.edit-nav li a:hover span{background:url(../img/bg_edit_nav_cur.png) 100% top;}

/* Add 2009.06.19 by zhangliang */
.openwin_box{background:url(../img/openwin_box_bg.jpg) no-repeat;width:210px;height:60px;margin:0 auto;cursor:pointer}
.openwin_box .pic{display:block;float:left;width:82px;text-align:center;padding:1px 0 0;}
.openwin_box .txt{display:block;float:left;width:108px;padding:7px 20px 0 0;line-height:20px;}
.openwin_box .txt .openwin_help{margin:0 0 0 3px;}
.openwin_box .txt .openwin_help img{margin:0 0 -2px;}