<STYLE type=text/css>
BODY {  font-family: Arial,"ו"; font-size: 12px}
TABLE {  font-family: Arial,"ו"; font-size: 12px}
a:link {  color: #000099; text-decoration: none}
a:visited {  color: #000099; text-decoration: none}
a:active {  color: #FF0000; text-decoration: underline}
a:hover {  color: #FF0000; text-decoration: underline}
</STYLE>
.MyLink {  color: #000000; text-decoration: none}
